html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.subText {
  font-size: 21px;
  color: gray;
}

#copyright {
  text-align: right;
}
